<form [formGroup]="recetaForm" (ngSubmit)="onSubmit()">
  <mat-form-field>
    <mat-label>Título</mat-label>
    <input matInput formControlName="titulo">
    <mat-error *ngIf="!recetaForm.controls['titulo'].touched">
      Este campo es requerido
    </mat-error>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Descripción</mat-label>
    <textarea matInput formControlName="descripcion"></textarea>
    <mat-error *ngIf="!recetaForm.controls['descripcion'].touched">
      Este campo es requerido
    </mat-error>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Ingredientes</mat-label>
    <input matInput formControlName="ingredientes">
    <mat-hint>Separar los ingredientes con comas</mat-hint>
    <mat-error *ngIf="!recetaForm.controls['ingredientes'].touched">
      Este campo es requerido
    </mat-error>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Instrucciones</mat-label>
    <textarea matInput formControlName="instrucciones"></textarea>
    <mat-error *ngIf="!recetaForm.controls['instrucciones'].touched">
      Este campo es requerido
    </mat-error>
  </mat-form-field>

  <button mat-raised-button color="primary" type="submit">Guardar</button>
  <button mat-button (click)="onCancel()">Cancelar</button>
</form>






